body {
    background-color: #ffffff 
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {

    h1 {
        font-size: 2rem;
    }

    .card-img-top {
        height: 180px !important;
    }

    .btn {
        margin-bottom: 5px;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
}