<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-CarParts</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="/">
                Y-CarParts
            </a>

            <div>
                <a href="{% url 'home' %}"
                    class="btn {% if request.path == '/' %}btn-primary{% else %}btn-outline-light{% endif %}">
                    Home
                </a>

                <a href="{% url 'products' %}"
                    class="btn {% if '/products' in request.path %}btn-primary{% else %}btn-outline-light{% endif %}">
                    Products
                </a>
                <a href="{% url 'cart' %}"
                    class="btn {% if request.path == '/cart/' %}btn-primary{% else %}btn-outline-light{% endif %}">
                    Cart
                </a>
            </div>

        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>